* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background: rgb(168, 161, 161);
  background: white;
}

body {
  background: white;
  min-height: 70vh;
  width: 28em;
  margin: 50px auto;
  margin-top: 7em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.664);
}

header {
  margin: 1em auto 0;
  padding: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 26em;
}

p {
  font-size: 20px;
}

header,
.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
}

.form input,
.form button {
  padding: 1rem;
  font-size: 22px;
  border: none;
  border-top: 1px solid rgb(197, 196, 196);
  border-bottom: 1px solid rgb(187, 187, 187);
  background: rgb(247, 245, 245);
  outline: none;

  /* width: 100%; */
}

.form input {
  width: 20em;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  align-items: center;
  align-content: center;
}

.fa-trash-alt,
.fa-ellipsis-v {
  font-size: 20px;
}

.fa-trash-alt {
  display: none;
}

label {
  font-size: 20px;
  padding: 10px;
}

input[type='checkbox'] {
  width: 20px;
  height: 18px;
}

.refresh {
  position: relative;
}

.count {
  position: absolute;
  right: 0;
  left: 16px;
  bottom: 5px;
  height: 18px;
  width: 18px;
  color: white;
  display: flex;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px;
}

.clear-button {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  text-decoration: underline;
  background: #f6f6f6;
  border: 1px solid #ebebeb;
  cursor: pointer;
}
